* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: '微軟正黑體', 'Arial';
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #FBFBFB;
}

.glyphicon_mr10 {
	margin-right: 10px;
}

hr {
	border-color: #0E87A6;
}

.roomselect li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	width: 100%;
	height: auto;
	padding: 0 25px 25px 25px;
}

.roomname {
	line-height: 50px;
	text-align: center;
	color: #0E87A6;
}

.chatroom, .qroom{
	display: none;
}

#table{
	display: block;
	margin-left: 216px;
}

.seatmap{
	overflow: auto;
	position: relative;
}

.seat[fb-link^="h"]:hover{
	cursor: pointer;
}

.seat-container{
	display: block;
	margin: 0 auto;
}

.row{
	position: absolute;
	width: auto;
}

.row1{
	top: 20%;
	left: 465px;
	width: 270px;
	margin: auto 0;
}

.row2{
	left: -20px;
	transform: rotate(90deg);
	top: 45%;
	width: 540px;
}

.row3{
	top: 45%;
	left: 710px;
	transform: rotate(90deg);
	width: 540px;
}

.row4{
	top: 45%;
	left: 190px;
	transform: rotate(90deg);
	width: 450px;
}

.row5{
	top: 45%;
	left: 590px;
	transform: rotate(90deg);
	width: 450px;
}

.row6{
	top: 83%;
	left: 220px;
	transform: rotate(17deg);
	width: 300px;
}

.row7{
	top: 83%;
	left: 710px;
	transform: rotate(-17deg);
	width: 300px;
}

.row8{
	top: 69%;
	width: 500px;
	left: 350px;
	margin: auto 0;
	
}

.seat-img{
	position: relative;
	float: left;
}

.row1 .seat-img{
	width: 90px;
	padding-left: 20px;
	padding-right: 20px;
}

.row2 .seat-img , .row3 .seat-img , .row4 .seat-img , .row5 .seat-img{
	transform: rotate(-90deg);
	width: 90px;
	padding-left: 20px;
	padding-right: 20px;
}

.row6 .seat-img , .row7 .seat-img{
	width: 150px;
	padding-left: 50px;
	padding-right: 50px;
}

.row6 .seat-img {
	transform: rotate(-17deg);
}

 .row7 .seat-img{
 	transform: rotate(17deg);	
}

.row8 .seat-img {
	width: 250px;
	padding-left : 100px;
	padding-right: 100px;
}

.displaymsg {
	margin: 0 auto;
	padding: 25px;
	margin-top: 50px;
	overflow: auto;
	background-color: #EEE;
}

.displaymsg p{
	line-height: 25px;
}

.sendmsg {
	margin: 0 auto;
	padding: 25px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #000;
	line-height: 200px;
	text-align: center;
	color: white;
	letter-spacing: 5px;
	text-indent: 5px;
	font-size: 18px;
}


.prof-img{
	padding-left: 10px;
}

@media screen and ( min-width: 768px ){
	.prof-img{
		padding-top: 5px;
	}
}

.prof-img img{
	width: 40px;
}
