* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: '微軟正黑體', 'Arial';
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #FBFBFB;
}

.glyphicon_mr10 {
	margin-right: 10px;
}

hr {
	border-color: #0E87A6;
}

.roomselect li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	width: 100%;
	height: auto;
	padding: 0 25px 25px 25px;
}

.roomname {
	line-height: 50px;
	text-align: center;
	color: #0E87A6;
}

.chatroom, .qroom{
	display: none;
}

.seatmap img {
	max-width: 80%;
	display: block;
	margin : 0 auto; 
}

.displaymsg {
	margin: 0 auto;
	padding: 25px;
	margin-top: 50px;
	overflow: auto;
	background-color: #EEE;
}

.displaymsg p{
	line-height: 25px;
}

.sendmsg {
	margin: 0 auto;
	padding: 25px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #000;
	line-height: 200px;
	text-align: center;
	color: white;
	letter-spacing: 5px;
	text-indent: 5px;
	font-size: 18px;
}


