.classroom{
	border-radius: 5px;
}

.prof-img{
	padding-left: 10px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #000;
	line-height: 200px;
	text-align: center;
	color: white;
	letter-spacing: 5px;
	text-indent: 5px;
	font-size: 18px;
}

@media screen and ( min-width: 768px ){
	.prof-img{
		padding-top: 5px;
	}
}

.prof-img img{
	width: 40px;
}